<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-inline ">{{post.title}}</h1>
      </div>
      <div class="column is-one-quarter has-text-right">
        <button [disabled]="processing" (click)="onPostCommentClick()" class="button is-link">
          <span class="icon">
            <i class="fas fa-reply"></i>
          </span>
          <span>{{post.comments.length}}</span>
        </button>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button [disabled]="processing" (click)="likePost()" class="button is-link" aria-haspopup="true" aria-controls="dropdown-like">
              <span class="icon is-small">
                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
              </span>
              <span>{{post.likedBy.length}}</span>
            </button>
          </div>
          <div *ngIf="post.likedBy.length > 0" class="dropdown-menu" id="dropdown-like" role="menu">
            <div class="dropdown-content has-text-left">
              <div *ngFor="let likeBy of post.likedBy" class="dropdown-item">
                {{likeBy.engName}}
              </div>
            </div>
          </div>
        </div>
        <button [disabled]="processing" (click)="refreshPost()" class="button is-link">
          <span class="icon">
            <i class="fas fa-sync"></i>
          </span>
        </button>
      </div>
    </div>
    <hr/>
    <div class="card post">
      <header class="card-header">
        <p class="card-header-title">
          Poster: {{post.createdBy.engName}} - {{ post.createdAt | date:' dd/MM/yyyy HH:mm' }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>{{post.body}}</p>
        </div>
      </div>
    </div>
    <div *ngFor="let comment of post.comments; let i=index" class="card post">
      <header class="card-header">
        <p class="card-header-title">
          #{{i+1}} - {{comment.commentBy.engName}} - {{ comment.commentAt | date:' dd/MM/yyyy HH:mm' }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>{{comment.comment}}</p>
        </div>
      </div>
    </div>
    <div id="new-comment" class="card post">
      <header class="card-header">
        <p class="card-header-title">
          Compose New Comment
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <form [formGroup]="form">
            <div class="field">
              <div class="control">
                <input class="input" type="text" id="comment" name="comment" formControlName="comment" placeholder="Comment">
              </div>
            </div>
            <div class="control">
              <button [disabled]="!form.valid || processing" (click)="submitComment()" class="button is-primary">Submit</button>
              <button [disabled]="processing" (click)="resetForm()" class="button is-warning">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
