<section *ngIf="user" class="section">
  <div class="container">
    <div class="columns">
      <div class="column content ">
        <h1 class="title">{{user.engName}}</h1>
        <h2>Personal Information</h2>
        <ul>
          <li>Employee ID: {{user.username}}</li>
          <li>Email: {{user.email}}</li>
          <li>Department: {{user.department}}</li>
          <li>Position: {{user.position}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <hr/>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column level is-mobile">
        <a href="" class="level-item has-text-centered">
          <div>
            <p>{{postCount}}</p>
            <p>Posts</p>
          </div>
        </a>
        <a href="" class="level-item has-text-centered">
          <div>
            <p>0</p>
            <p>Activity</p>
          </div>
        </a>
        <a href="" class="level-item has-text-centered">
          <div>
            <p>{{serviceRequestCount}}</p>
            <p>Service Request</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
