<section class="section">
  <div class="container">
    <h1 class="title is-inline ">Activity List</h1>
    <hr>

    <div class="card post" *ngFor="let activity of activities">
      <header class="card-header">
        <p class="card-header-title">
          <a [routerLink]="['./activity-detail/', activity._id]">{{activity.name}}</a>
        </p>
        <div class="column is-one-quarter has-text-right">
          <button class="button is-link" (click)="addNotInterested(activity._id)">
            <span class="icon">
              <i class="fas fa-thumbs-down"></i>
            </span>
          </button>
          <button class="button is-link" (click)="addBookmark(activity._id)">
            <span class="icon">
              <i class="fas fa-bookmark"></i>
            </span>
          </button>
        </div>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            Start Date: {{activity.startDate | date : "dd-MM-yyyy HH:mm"}}
            <br/>End Date: {{activity.endDate | date : "dd-MM-yyyy HH:mm"}} 
            <br/>Venue: {{activity.venue}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
