<section class="section">
  <div class="container">
    <h1 class="title is-inline ">Activity Detail</h1>
    <hr>
    <div class="card activity" *ngIf="activity">
      <header class="card-header">
        <p class="card-header-title">
          {{activity.name}}
        </p>
        <div class="column is-one-quarter has-text-right">
          <button class="button is-link" (click)="addNotInterested(activity._id)">
            <span class="icon">
              <i class="fas fa-thumbs-down"></i>
            </span>
          </button>
          <button class="button is-link" (click)="addBookmark()">
            <span class="icon">
              <i class="fas fa-bookmark"></i>
            </span>
          </button>
          <button class="button is-link" (click)="joinActivity()">
            <span class="icon">
              <i class="fas fa-user-plus"></i>
            </span>
          </button>
        </div>

      </header>
      <div class="card-content">

        <div class="content">
          {{activity.detail}}
          <ul>
            <li>Type: {{activity.type}}</li>
            <li>Start Time: {{activity.startDate | date : "dd-MM-yyyy HH:mm"}} </li>
            <li>End Time: {{activity.endDate | date : "dd-MM-yyyy HH:mm"}} </li>
            <li>Venue: {{activity.venue}}</li>
            <li>Vacancies: {{getActualVacanies()}} / {{activity.vacancies}}</li>
            <li>Status: {{ getActivityStatus() }}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<!--
<a [routerLink]="['./', post._id]" *ngFor="let post of posts">
  <div class="card post">
    <header class="card-header">
      <p class="card-header-title">
        {{post.title}}
        <br/> By: {{post.createdBy}} - At: {{ post.createdAt | date:' dd/MM/yyyy HH:mm' }}
      </p>
      <div class="card-header-icon" aria-label="Reply">
        <span class="icon">
          <i class="fas fa-reply" aria-hidden="true"></i>
        </span> {{post.comments.length}}
      </div>
      <div class="card-header-icon" aria-label="Like">
        <span class="icon">
          <i class="fas fa-thumbs-up" aria-hidden="true"></i>
        </span> {{post.likedBy.length}}
      </div>
    </header>
  </div>
</a>
-->