<div class="mdl-cell mdl-cell--12-col">
    <h1>
      Dashboard
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac lectus interdum magna dictum egestas. Curabitur eget egestas dolor, ac vulputate odio. Nam vestibulum, nunc ac ultricies porta, diam odio viverra odio, a condimentum mauris augue at libero. Vivamus nec euismod nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur nec eros nulla. Nullam suscipit varius arcu et lacinia. In consectetur urna quam. Pellentesque nunc massa, convallis non urna vitae, luctus fermentum mi. Duis at luctus massa. In hac habitasse platea dictumst. Proin ut elit ultrices, venenatis nisi vitae, mattis quam. Fusce a est id tellus tempus lacinia vitae aliquet magna
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac lectus interdum magna dictum egestas. Curabitur eget egestas dolor, ac vulputate odio. Nam vestibulum, nunc ac ultricies porta, diam odio viverra odio, a condimentum mauris augue at libero. Vivamus nec euismod nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur nec eros nulla. Nullam suscipit varius arcu et lacinia. In consectetur urna quam. Pellentesque nunc massa, convallis non urna vitae, luctus fermentum mi. Duis at luctus massa. In hac habitasse platea dictumst. Proin ut elit ultrices, venenatis nisi vitae, mattis quam. Fusce a est id tellus tempus lacinia vitae aliquet magna
    </p>
  </div>