<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-inline ">Posts</h1>
      </div>
      <div class="column is-one-quarter has-text-right">
        <button class="button is-link" routerLink="./compose-post">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </button>
        <button [disabled]="isLoading" (click)="getPost()" class="button is-link">
          <span class="icon">
            <i class="fas fa-sync"></i>
          </span>
        </button>
      </div>
    </div>
    <hr/>
    <a [routerLink]="['./', post._id]" *ngFor="let post of posts">
      <div class="card post">
        <header class="card-header">
          <p class="card-header-title">
            {{post.title}}
            <br/> By: {{post.createdBy.engName}} - At: {{ post.createdAt | date:' dd/MM/yyyy HH:mm' }}
          </p>
          <div class="card-header-icon" aria-label="Reply">
            <span class="icon">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span> {{post.comments.length}}
          </div>
          <div class="card-header-icon" aria-label="Like">
            <span class="icon">
              <i class="fas fa-thumbs-up" aria-hidden="true"></i>
            </span> {{post.likedBy.length}}
          </div>
        </header>
      </div>
    </a>
  </div>
</section>
