<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello!
      </h1>
      <h2 class="subtitle">
        Welcome to the intranet. You are welcome to share things with colleagues!
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <section class="info-tiles">
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">
              <span class="icon is-large">
                <i class="fas fa-comments"></i>
              </span>
            </p>
            <p class="subtitle"><a href="" routerLink="/posts">Read Posts</a></p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">
              <span class="icon is-large">
                <i class="fas fa-edit"></i>
              </span>
            </p>
            <p class="subtitle"><a href="" routerLink="/compose-post">Create Post</a></p>
          </article>
        </div>
      </div>
    </section>
  </div>
</section>
