<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column content ">
        <h1 class="title">{{engName}}</h1>
        <h2>Personal Information</h2>
        <ul>
          <li>Employee ID: {{username}}</li>
          <li>Email: {{email}}</li>
          <li>Department: {{department}}</li>
          <li>Position: {{position}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <hr/>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column level is-mobile">
        <a href="" class="level-item has-text-centered">
          <div>
            <p>{{postCount}}</p>
            <p>Posts</p>
          </div>
        </a>
        <a href="" class="level-item has-text-centered">
          <div>
            <p>0</p>
            <p>Likes</p>
          </div>
        </a>
        <a href="" class="level-item has-text-centered">
          <div>
            <p>0</p>
            <p>Dislikes</p>
          </div>
        </a>
        <a href="" class="level-item has-text-centered">
          <div>
            <p>0</p>
            <p>Resource booking</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
