<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="username">
        <label class="mdl-textfield__label" for="username">Username</label>
      </div>
      <br/>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" id="password">
        <label class="mdl-textfield__label" for="password">Password</label>
      </div>
      <br/>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" name="action">Login</button>
    </form>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
